/* TODO Add site wide styles */
:root {
  --blue-0bf: #0060bf;
  --blue-fcc: #317fcc;
  --blue-dff: #009dff;
  --blue-ecc: #007ecc;
  --gray-9d9: #d9d9d9;
  --white-ef2: #cadef2;

}
/*============ html tag =============*/
body {
  margin: 0px;
}

a:link { text-decoration: none; }

li {
  list-style-type: none;
}
/*============= className ============*/
.bg-blue-0bf {
  background-color: var(--blue-0bf);
}

.bg-blue-fcc {
  background-color: var(--blue-fcc);
}

.bg-blue-dff {
  background-color: var(--blue-dff);
}

.bg-blue-dff:hover {
  background-color: var(--blue-ecc);
}

.border-red {
  border: 2px red solid;
}

.border-gray-9d9 {
  border: 2px solid var(--gray-9d9);
}

.border-white-ef2 {
  border: 2px solid var(--white-ef2);
}

.border-0 {
  border: 0px;
}

.borderR-5p {
  border-radius: 5px;
}

.color-white {
  color: white;
}

.color-white-ef2 {
  color: var(--white-ef2)
}

.color-gray-9d9 {
  color: var(--gray-9d9)
}

.cursor-p {

}

.cursor-p:hover {
  cursor: pointer;
}

.dis-block{
  display: block;
}

.flx {
  display: flex;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-jc-sa {
  display: flex;
  justify-content: space-around;
}


.flx-ac-center {
  align-content: center;
}

.flx-wrap {
  flex-wrap: wrap;
}

.fontS-115rem {
  font-size: 1.15rem;
}

.fontS-125rem {
  font-size: 1.25rem;
}

.fontS-200rem {
  font-size: 2rem;
}

.fontW-600 {
  font-weight: 600;
}

.gap15p {
  gap:15px;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mrg0p {
  margin: 0px;
}

.mrg20p {
  margin-right: 20px;
}

.mrg-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.pad10p {
  padding: 10px;
}

.pad-lr-10p {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-tb-5p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-tb-10p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-tb-15p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad-tb-25p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.txt-ali-center {
  text-align: center;
}

.width-max-450p {
  max-width: 450px;
}
