/*============= id ============*/
#outter2 {
    text-align: center;
}

#allpanel {
    display: grid;
    grid-template-rows: 0fr 0fr 10fr;
}


/*============= className ============*/

.status {
    position: relative;
    float: right;
    height: 26px;
}

.addtaskbar {
    display: inline-flex;
}

.height-26px {
    height: 26px;
}

.border-none {
    border: none;
}

.border-none:hover {
    background-color: var(--blue-0bf);
    font-weight: bold;
    color: white
}

.border-style {
    border-top: solid 0.5px grey;
    display: grid;
    grid-template-columns: 5fr 2.5fr 2.5fr;
}


/*============ html tag =============*/



ul {
    padding: 5px;
    margin: 1px 8px;
}
