.left-panel {
  margin: 20px;
  min-width: 165.44px;
}
ul.list-name {
  padding-left: 0px;
}

.list-create {
  display: flex;
  justify-content: space-between;
  flex-wrap: no wrap;
  font-weight: bold;
}

.one-list {
  display: flex;
  flex-wrap: no wrap;
  justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 740px) {
  .one-list {
    display: block;
  }
}
